.App {
  text-align: center;
}

img.home_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 10px;
}

h1.home_header {
  display: block;
  margin-left: 500px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:darkred;
}

p.home_info {
  display: block;
  margin-left: 575px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darkgreen;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
